.project-page {
    text-align: initial;
}

.sidebar {
    display: inline-block;
    transition: width 0.5s;
    width: 0px;
}

.sidebar.expand {
    width: 200px;
}

.togglebutton {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.content-container {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}
