.navbar-toolbar {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 2.5vw;
}

.nav-link {
	text-decoration: none;
	color: black;
}

.nav-link.active {
	color: darkblue;
}

#nav-title {
	font-size: 20px;
	padding: 0px 20px;
}

.navbar-container button {
	margin: 0px 20px;
}
