.nav-appbar {
	margin-bottom: 10px;
}

.nav-toolbar {
	box-sizing: border-box;
	display: flex;
	background-color: whitesmoke;
	color: black;
}

.nav-toolbar .nav-title {
	font-size: 20px;
}

.nav-link {
	text-decoration: none;
	color: black !important;
	padding: 0 2vw;
}

.nav-link.active {
	color: darkblue;
}

.nav-rendered-links {
    display: flex;
	margin-left: auto;
}
