.footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
}

.right {
    position: absolute;
    right: 0px;
    word-spacing: 100vw;
    width: 30vw;
    text-align: right;
}

.left {
    position: absolute;
    left: 0px;
    width: 60vw;
    text-align: left;
}
