.footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    list-style: none;
    padding-left: 0;
    text-align: left;
}

.info {
    position: absolute;
    left: 5vw;
}

.nav {
    position: absolute;
    right: 15vw;
}

.project {
    position: absolute;
    right: 5vw;
}
