.footer-wrapper {
    list-style: none;
    text-align: left;
}

.footer {
    margin-left: 5vw;
    margin-right: 5vw;
}

.info {
    display: inline-block;
    vertical-align: top;
    width: 80vw;
}

.footer-links {
    display: inline-block;
}

.nav {
    display: inline-block;
    vertical-align: top;
    margin-right: 1vw;
}

.project {
    display: inline-block;
    margin-right:0;
    vertical-align: top;
}
